### Importing Pandas to prepare data

In [ ]:
import pandas as pd
import altair as alt
alt.renderers.enable("notebook")

### Extracting data from csv file. Note- Please change the file path.

In [ ]:
ESB_Data = pd.read_csv("../data/Assignment-3/esb.csv", header=2)

In [ ]:
ESB_Data

### Removing rows 29, 35 which are "City Councils" and "Conversions" as they have NaN values and these rows are of no use.

In [ ]:
ESB_Data.drop([29,35], axis=0, inplace=True)

In [ ]:
ESB_Data

### Taking all the County's from the data and putting it into the list Esb_County.

In [ ]:
Esb_County = ESB_Data[:28]

In [ ]:
Esb_County

In [ ]:
Esb_County = Esb_County.reset_index()

In [ ]:
Esb_County = Esb_County.drop('index', axis=1)

In [ ]:
Esb_County

### Similarly, Taking all data for cities and putting it into list Esb_City.

In [ ]:
Esb_City = ESB_Data[29:34]

In [ ]:
Esb_City = Esb_City.reset_index()

In [ ]:
Esb_City = Esb_City.drop('index', axis=1)

In [ ]:
Esb_City

### We have the headers containing the months only, so fixing the headers in below code to achieve Month_Year for the dataframes. As there is a Total column between months January and December, so considering it as well in months for now.

In [ ]:
Months = ["January","February","March","April","May","June","July","August","September","October","November","December","Total"]
Years = [2006,2007,2008,2009,2010,2011,2012,2013]
Month_Year = []
for i in Years:
    underscore = "_"
    for j in Months:
        a=str(i)
        b = j+underscore+a
        Month_Year.append(b)

In [ ]:
Month_Year

### Since the first column of dataframe is County_Council, so assigning only "Council" to list l3 so that we can concat this list to the list Month_Year and use the resultant list for the dataframes header.

In [ ]:
l3 = ["Council"]

In [ ]:
Esb_Header = l3+Month_Year

In [ ]:
Esb_Header

### Assigning the values of Esb_Header as column names in Esb_County and Esb_City dataframes.

In [ ]:
Esb_County.columns = Esb_Header

In [ ]:
Esb_County

In [ ]:
Esb_City.columns = Esb_Header

In [ ]:
Esb_City

### Replacing the NaN values with 0 in both dataframes.

In [ ]:
Esb_County.fillna(0)

In [ ]:
Esb_City.fillna(0)

### Removing the Total column from Esb_County and Esb_City dataframes as it will affect the visualisations.

In [ ]:
Esb_City.drop(columns= ["Total_2006", "Total_2007", "Total_2008", "Total_2009", "Total_2010", "Total_2011", "Total_2012", "Total_2013"], axis = 1, inplace = True)

In [ ]:
Esb_County.drop(columns= ["Total_2006", "Total_2007", "Total_2008", "Total_2009", "Total_2010", "Total_2011", "Total_2012", "Total_2013"], axis = 1, inplace = True)

### Tidying the dataframes so that we can visualise the data.

In [ ]:
Esb_County_Tidy = pd.melt(Esb_County,["Council"],var_name="Month_Year",value_name="No_Of_Connections")

### Replacing # special character in the data so that it doesnt trouble in visualisation .

In [ ]:
Esb_County_Tidy["No_Of_Connections"] = Esb_County_Tidy["No_Of_Connections"].replace("#","", regex=True)

In [ ]:
Esb_County_Tidy

In [ ]:
Esb_City_Tidy = pd.melt(Esb_City,["Council"],var_name="Month_Year",value_name="No_Of_Connections")

In [ ]:
Esb_City_Tidy

### Splitting up the Month_Year column into two different columns in the dataframes.

In [ ]:
Esb_County_Tidy[['Month','Year']] = Esb_County_Tidy.Month_Year.str.split('_',expand = True)

In [ ]:
Esb_County_Tidy.drop(columns = ["Month_Year"], axis=1, inplace = True)

In [ ]:
Esb_City_Tidy[['Month','Year']] = Esb_City_Tidy.Month_Year.str.split('_',expand = True)

In [ ]:
Esb_City_Tidy.drop(columns = ["Month_Year"], axis=1, inplace = True)

### Adding column "Type" specifying type of Council as we will merge Esb_County and Esb_City into a single dataframe.

In [ ]:
Esb_County_Tidy["Type"] = "County"

In [ ]:
Esb_County_Tidy

In [ ]:
Esb_City_Tidy["Type"] = "City"

In [ ]:
Esb_City_Tidy

In [ ]:
df = [Esb_County_Tidy,Esb_City_Tidy]

In [ ]:
Esb_Council = pd.concat(df)

In [ ]:
Esb_Council

### Loading the data to "Esb_Data" csv file.

In [ ]:
Esb_Council.to_csv (r'../Esb_Data.csv', index = None, header=True)

### Please refer file "ESB_Assignment_Altair_Visualisations.ipynb" for further data analysis through Altair visualisations. Thanks!